<div class="checker-board-container">
  <div class="checker-board">
    <ng-container *ngFor="let row of [].constructor(8); let y = index">
      <ng-container *ngFor="let column of [].constructor(8); let x = index">
        <div
          class="grid"
          [ngClass]="{
            black: (x % 2 === 0 && y % 2 === 0) || (x % 2 !== 0 && y % 2 !== 0),
            'highlight-dark':
              selectingPiece?.x === x && selectingPiece?.y === y,
            highlight: isPossibleMoveGrid(x, y)
          }"
          (click)="onTapGrid(x, y)"
        >
          <div
            *ngIf="getPieceAt(x, y)"
            class="piece"
            [ngClass]="{
              black: getPieceAt(x, y)?.player?.valueOf() === 'black',
              white: getPieceAt(x, y)?.player?.valueOf() === 'white'
            }"
          ></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="log-container">
    <span *ngFor="let log of logMessages">
      {{ log }}
    </span>
  </div>
</div>
