@import "../../../styles.scss";

@media (orientation: portrait) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 3fr;
    grid-template-areas:
      "banner banner"
      "board board"
      "log menu";
  }
  .game-status {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas:
      "board banner"
      "board log"
      "board menu";
  }
  .game-status {
    flex-direction: row;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  .banner {
    grid-area: banner;
    width: 100%;
    height: 100%;
    background-color: $color-background-gray;
    color: $color-text-gray;
    display: flex;
    span {
      margin: auto;
      font-size: $font-title;
      font-weight: $font-bold;
    }
  }
  .checker-board-container {
    grid-area: board;
    margin-left: auto;
    .checker-board {
      width: min(100vw, 100vh);
      height: min(100vw, 100vh);
      display: grid;
      grid-template-columns: repeat(8, minmax(0, 1fr));
      grid-template-rows: repeat(8, minmax(0, 1fr));
      .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: white;
        &.black {
          background-color: $color-text-gray;
        }
        &.highlight {
          background-color: $color-text-bright-green;
        }
        &.highlight-dark {
          background-color: $color-text-dark-green;
        }
        &.highlight-yellow {
          background-color: $color-text-custard !important;
        }
        &.highlight-red {
          background-color: $color-text-red !important;
        }
        .piece {
          width: 80%;
          height: 80%;
          border-radius: 50%;
          box-shadow: 2px 5px 8px 3px $color-highlight-gray;
          display: flex;
          &.black {
            background-color: $color-background-dark-gray;
          }
          &.white {
            background-color: $color-text-light-gray;
          }
          img {
            margin: auto;
            width: 80%;
            height: 80%;
          }
        }
      }
    }
  }
  .log-container {
    grid-area: log;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    border: 1px solid $color-highlight-dark-gray;
    .log-content {
      height: 100%;
      width: 100%;
      padding: 8px;
      display: flex;
      flex-direction: column;
      span {
        color: $color-text-gray;
        font-size: $font-small;
      }
    }
  }
  .game-status {
    grid-area: menu;
    display: flex;
    .remaining-pieces-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-block: 8px;
      .remaining-pieces {
        flex: 1;
        background-color: $color-highlight-dark-gray;
        margin-inline: 16px;
        margin-block: 8px;
        border-radius: 8px;
        padding-inline: 16px;
        display: flex;
        align-items: center;
        .remaining-pieces-icon {
          width: min(10vw, 10vh);
          height: min(10vw, 10vh);
          border-radius: 50%;
          display: flex;
          &.black {
            background-color: $color-background-dark-gray;
          }
          &.white {
            background-color: $color-text-light-gray;
          }
        }
        span {
          padding-left: 32px;
          font-size: $font-title;
        }
        &.current-player {
          outline: 4px solid $color-text-dark-green;
        }
      }
    }
    .surrender-button {
      flex: 1;
      margin: 16px;
      border-radius: 8px;
      box-shadow: 2px 5px 8px 3px black;
      background-color: $color-highlight-dark-gray;
      display: flex;
      cursor: pointer;
      span {
        margin: auto;
        font-size: $font-title;
        color: $color-text-gray;
      }
    }
  }
}
