<div class="wrapper">
  <div class="banner"><span>PURE WEBHOOK CHECKERS</span></div>
  <div class="checker-board-container">
    <div class="checker-board">
      <ng-container *ngFor="let y of getBoardLength(-1)">
        <ng-container *ngFor="let x of getBoardLength(-1)">
          <div
            class="grid"
            [ngClass]="{
              black:
                (x % 2 === 0 && y % 2 === 0) || (x % 2 !== 0 && y % 2 !== 0),
              'highlight-dark':
                selectingPiece?.position?.x === x &&
                selectingPiece?.position?.y === y,
              highlight:
                isPossibleMoveGrid(x, y) && !isPossibleAttackGrid(x, y),
              'highlight-red': isPossibleAttackGrid(x, y),
              'highlight-yellow': isPieceWithAttackMove(x, y)
            }"
            (click)="onTapGrid(x, y)"
          >
            <div
              *ngIf="getPieceAt(x, y)"
              class="piece"
              [ngClass]="{
                black: getPieceAt(x, y)?.player?.valueOf() === 'black',
                white: getPieceAt(x, y)?.player?.valueOf() === 'white'
              }"
            >
              <img
                src="assets/crown.png"
                *ngIf="getPieceAt(x, y)?.isPromoted"
              />
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="log-container">
    <div class="log-content">
      <span *ngFor="let log of logMessages.reverse()">
        {{ log }}
      </span>
    </div>
  </div>
  <div class="game-status">
    <div class="remaining-pieces-container">
      <div
        class="remaining-pieces"
        [ngClass]="{ 'current-player': currentTurn === PLAYER.BLACK }"
      >
        <div class="remaining-pieces-icon black"></div>
        <span>{{ getRemainingPieces(PLAYER.BLACK) }}</span>
      </div>
      <div
        class="remaining-pieces"
        [ngClass]="{ 'current-player': currentTurn === PLAYER.WHITE }"
      >
        <div class="remaining-pieces-icon white"></div>
        <span>{{ getRemainingPieces(PLAYER.WHITE) }}</span>
      </div>
    </div>
    <div class="surrender-button"></div>
  </div>
</div>
